In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('marital status.csv');
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     NaN
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

In [4]:
df.isnull().sum()

age       0
status    1
dtype: int64

In [7]:
missing = df['status'].median()

In [8]:
df.status = df.status.fillna(missing)

In [9]:
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     0.0
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

In [10]:
df.isnull().sum()

age       0
status    0
dtype: int64

In [11]:
df['status'].value_counts()

0.0    11
1.0     9
Name: status, dtype: int64

In [38]:
x = df[['age']]
y = df[['status']]

In [37]:
x

    age
0    21
1    33
2    24
3    28
4    17
5    33
6    23
7    30
8    29
9    22
10   26
11   20
12   22
13   24
14   34
15   29
16   16
17   18
18   26
19   25

In [31]:
# import the class
from sklearn.linear_model import LogisticRegression

# instantiate the model
logreg = LogisticRegression(solver='liblinear')

In [44]:
logreg.fit(x,y)

G:\Anaconda\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression(solver='liblinear')

In [45]:
logreg.predict(x)

array([0., 1., 0., 1., 0., 1., 0., 1., 1., 0., 1., 0., 0., 0., 1., 1., 0.,
       0., 1., 1.])

In [47]:
y_pred = logreg.predict(x)

In [48]:
from sklearn import metrics
print(metrics.accuracy_score(y, y_pred))

0.95

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
X_train, X_test, Y_train, Y_test = train_test_split(x,y, random_state = 1, test_size = 0.30)

In [43]:
# import the class
from sklearn.linear_model import LogisticRegression

# instantiate the model
logreg = LogisticRegression(solver='liblinear')

In [40]:
# fit the model with data
logreg.fit(X_train , Y_train)

ValueError: Expected 2D array, got 1D array instead:
array=[17. 18. 30. 33. 24. 21. 25. 26. 22. 29. 29. 22. 20. 33.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [18]:
X_test

3     28
16    16
6     23
10    26
2     24
14    34
Name: age, dtype: int64

In [ ]:
# predict the response values for the observations in X
logreg.predict(X_test)