In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv('customer.csv');
df

  Customer  Age  Income  CreditCard Class
0        A   35      50           3    No
1        B   22      40           2    No
2        C   34      45           3   Yes
3        D   23      78           2    No
4        E   43      90           3   Yes
5        F   35      12           2   Yes

In [17]:
x = df.iloc[:, 1:4]
x

   Age  Income  CreditCard
0   35      50           3
1   22      40           2
2   34      45           3
3   23      78           2
4   43      90           3
5   35      12           2

In [12]:
y = df['Class']
y

0     No
1     No
2    Yes
3     No
4    Yes
5    Yes
Name: Class, dtype: object

In [11]:
from sklearn.preprocessing import MinMaxScaler

MMS = MinMaxScaler(feature_range =(0, 1))

x_after_min_max_scaler = MMS.fit_transform(x)

x_after_min_max_scaler

array([[0.61904762, 0.48717949, 1.        ],
       [0.        , 0.35897436, 0.        ],
       [0.57142857, 0.42307692, 1.        ],
       [0.04761905, 0.84615385, 0.        ],
       [1.        , 1.        , 1.        ],
       [0.61904762, 0.        , 0.        ]])

In [8]:
from sklearn.neighbors import KNeighborsClassifier

In [9]:
knn = KNeighborsClassifier(n_neighbors=3)

In [28]:
knn.fit(x_after_min_max_scaler, y)

KNeighborsClassifier(n_neighbors=3)

In [26]:
knn.fit(x, y)

KNeighborsClassifier(n_neighbors=3)

In [23]:
knn.predict([[54,25,3]])

array(['Yes'], dtype=object)

In [27]:
knn.predict([[34,45,2]])

array(['No'], dtype=object)

In [25]:
knn.predict([[23,90,3]])

array(['No'], dtype=object)

In [29]:
knn.predict([[1,0.167,1]])

array(['Yes'], dtype=object)

In [30]:
knn.predict([[0.375 , 0.423 , 0]])

array(['No'], dtype=object)

In [31]:
knn.predict([[0.03125 , 1,1]])

array(['Yes'], dtype=object)