In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('car.csv');
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [10]:
missing = df.experience.median()

In [11]:
df.experience = df.experience.fillna(missing)

In [12]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         6.6    60
4    140        5         3.0    82
5    115        2         8.0    10

In [13]:
# import model
from sklearn.linear_model import LinearRegression

# instantiate
linreg = LinearRegression()

In [14]:
linreg.fit(df[['speed' , 'car_age' , 'experience']] , df.risk)

LinearRegression()

In [16]:
linreg.predict([[160,10,5]])

array([71.57528852])

In [17]:
x = df[['speed' , 'car_age' , 'experience']]
y = df[['risk']]

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=1)

In [19]:
linreg.fit(X_train , y_train)

LinearRegression()

In [20]:
linreg.predict([[160,10,5]])

array([[69.41808925]])